.container {
    height: vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 30px;

        .blue {
            color: teal;
        }
        .red {
            color: maroon;
        }
    }
    #banner {
        width: 100%;
        margin-top: 20px;
    }
    .btn-group {
        margin: 0 auto;
       
        .btn {
            width: 150px;
            margin: 10px 10px;
            color: white;
        }
    }
    
    ul {
        li {
            list-style: none;
            font-size: 22px;
            text-align: center;
            padding-bottom: 20px;
        }
    }

}   
